In [1]:
import pickle
import joblib
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
from google.colab import files
uploaded = files.upload()

Saving test_loan.xlsx to test_loan.xlsx

In [4]:
X = pd.read_excel('test_loan.xlsx')
X

,Unnamed: 0,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,229,0,6400,0,200000,360,1,0,1,1,0,1,0,0,1,1,0,0
1,13,0,1853,2840,114000,360,1,0,1,1,0,1,0,1,0,1,0,0
2,514,0,5815,3666,311000,360,1,0,1,1,0,1,0,1,0,1,0,0
3,456,0,4301,0,118000,360,1,0,1,0,1,1,0,1,0,0,0,1
4,518,0,4683,1915,185000,360,1,0,1,1,0,1,0,1,0,0,1,0
5,87,0,2500,2118,104000,360,1,0,1,0,1,1,0,1,0,0,1,0
6,472,3,4691,0,100000,360,1,0,1,0,1,1,0,1,0,0,1,0
7,176,2,2045,1619,101000,360,1,0,1,0,1,1,0,1,0,1,0,0
8,328,0,4333,2451,110000,360,1,1,0,0,1,1,0,1,0,0,0,1
9,300,0,1800,2934,93000,360,0,0,1,0,1,0,1,1,0,0,0,1
10,446,2,4652,0,110000,360,1,0,1,0,1,0,1,1,0,1,0,0
11,264,0,5166,0,128000,360,1,0,1,1,0,1,0,0,1,0,1,0
12,384,2,4566,0,100000,360,1,0,1,0,1,1,0,1,0,0,0,1
13,26,0,2799,2253,122000,360,1,0,1,0,1,1,0,1,0,0,1,0
14,452,0,3948,1733,149000,360,0,0,1,0,1,1,0,1,0,1,0,0
15,290,0,3075,2416,139000,360,1,0,1,0,1,1,0,1,0,1,0,0
16,415,0,2995,0,60000,360,1,1,0,1,0,1,0,1,0,0,0,1
17,358,0,3000,1666,100000,480,0,0,1,0,1,0,1,1,0,0,0,1
18,230,1,2491,2054,104000,360,1,0,1,0,1,1,0,1,0,0,1,0

In [10]:
X.columns

Index(['Unnamed: 0', 'Dependents', 'ApplicantIncome', 'CoapplicantIncome',
       'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Gender_Female',
       'Gender_Male', 'Married_No', 'Married_Yes', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [11]:
X=X.drop(['Unnamed: 0'],axis=1)

In [12]:
X

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,6400,0,200000,360,1,0,1,1,0,1,0,0,1,1,0,0
1,0,1853,2840,114000,360,1,0,1,1,0,1,0,1,0,1,0,0
2,0,5815,3666,311000,360,1,0,1,1,0,1,0,1,0,1,0,0
3,0,4301,0,118000,360,1,0,1,0,1,1,0,1,0,0,0,1
4,0,4683,1915,185000,360,1,0,1,1,0,1,0,1,0,0,1,0
5,0,2500,2118,104000,360,1,0,1,0,1,1,0,1,0,0,1,0
6,3,4691,0,100000,360,1,0,1,0,1,1,0,1,0,0,1,0
7,2,2045,1619,101000,360,1,0,1,0,1,1,0,1,0,1,0,0
8,0,4333,2451,110000,360,1,1,0,0,1,1,0,1,0,0,0,1
9,0,1800,2934,93000,360,0,0,1,0,1,0,1,1,0,0,0,1
10,2,4652,0,110000,360,1,0,1,0,1,0,1,1,0,1,0,0
11,0,5166,0,128000,360,1,0,1,1,0,1,0,0,1,0,1,0
12,2,4566,0,100000,360,1,0,1,0,1,1,0,1,0,0,0,1
13,0,2799,2253,122000,360,1,0,1,0,1,1,0,1,0,0,1,0
14,0,3948,1733,149000,360,0,0,1,0,1,1,0,1,0,1,0,0
15,0,3075,2416,139000,360,1,0,1,0,1,1,0,1,0,1,0,0
16,0,2995,0,60000,360,1,1,0,1,0,1,0,1,0,0,0,1
17,0,3000,1666,100000,480,0,0,1,0,1,0,1,1,0,0,0,1
18,1,2491,2054,104000,360,1,0,1,0,1,1,0,1,0,0,1,0

In [6]:
from google.colab import files
uploaded = files.upload()

Saving loan_model.pkl to loan_model.pkl

In [13]:
mdl=joblib.load('loan_model.pkl')

In [14]:
sc = MinMaxScaler()
X_test = sc.fit_transform(X)
y_pred=mdl.predict(X_test)
y_pred=(y_pred>0.58)

1/1 [==============================] - 0s 186ms/step

In [15]:
y_pred

array([[ True],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False]])

In [17]:
val = pd.DataFrame(y_pred, columns=['Status'])
val = val.replace({True:'Approved', False:'Rejected'})
val

      Status
0   Approved
1   Rejected
2   Rejected
3   Approved
4   Rejected
5   Rejected
6   Approved
7   Approved
8   Approved
9   Rejected
10  Rejected
11  Approved
12  Approved
13  Rejected
14  Rejected
15  Rejected
16  Approved
17  Rejected
18  Rejected